.active{
    color: red
}
a{
    transition: all 0.1s ease;
}
a:hover{
    scale: 0.95;
    color: rgb(165, 180, 200);
}

.parent-height{
    height: calc(100vh - 3.5rem);
}

.home{
    height: calc(100vh - 3.5rem);
}
/* ============================================================================================= */



